<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='images/logo3.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{url_for('static', filename='images/logo3.ico')}}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/change_password.css')}}">
    <!-- <script src="{{url_for('static', filename='js/validate_password.js')}}"></script> -->
    <title>BOTMINDS | PASSWORD </title>
</head>

<body>
    <div class="change_password_box">
        <div class="box">
            <form method="POST" action="{{ url_for('change_password') }}">
                <h2>Enter New Password</h2>
                <div class="space">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <input type="hidden" name="email" value="{{ email }}">
                  <input type="hidden" name="user_id" value="{{ user_id }}">
                  <input type="password" name="user_pass1" id="user_pass1" autofocus required placeholder="Enter password">
                  <input type="password" name="user_pass2" id="user_pass2" placeholder="Re-type Password" required>
                  <button type="submit" class="change-password-btn" id="change-password-btn">Change</button>
                  <div class="divider"></div>
                  <a href="{{ url_for('login') }}" id="login_page_link">Remember Password?</a>
                </div>
              </form>
              
        </div>
    </div>
</body>

</html>

<script>
    var form = document.forms['change_password_form'];
var pass1 = form.elements['password'];
var pass2 = form.elements['user_pass2'];

form.addEventListener('submit', function(event) {
    if (pass1.value !== pass2.value) {
        event.preventDefault();
        alert('Passwords do not match. Please re-type the password.');
    }
});
</script>