<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='images/logo3.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{url_for('static', filename='images/logo3.ico')}}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/password_reset.css')}}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>BOTMINDS | FORGOT?</title>
</head>

<body>
    <div class=" password_reset_box">
        <div class="box">
            <form action="{{ url_for('forgot_password') }}" method="post" name="password_reset_form">
                {{ form.csrf_token }}
                <h2>GET OTP</h2> 
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
                <div class="space">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <input type="email" name="email" id="user_email" placeholder="Enter Email-ID" autofocus>
                    <button type="submit" class="submit-email-btn" id="submit-email-btn">Submit</button>
                    <div class="divider"></div>
                    <a href="{{ url_for('login') }}" id="login_page_link">Remember Password?</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>