<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/validate_password_0.css')}}"
    />
    <title>BOTMINDS | VALIDATE</title>
  </head>
  <body>
    <div class="password_validate_box">
      <div class="box">
        <form
          action="{{ url_for('validate_password') }}"
          method="post"
          name="validate_password_form"
        >
          <h2>Enter Password</h2>
          <div class="space">
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input
              type="password"
              name="user_pass1"
              id="user_pass1"
              placeholder="Enter Password To Validate"
              required
              autofocus
            />
            <button
              type="submit"
              class="validate-password-btn"
              id="validate-password-btn"
            >
              submit
            </button>
            <div class="divider"></div>
            <a href="{{ url_for('profile') }}" id="login_page_link">Go Back</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
