<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='images/logo3.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{url_for('static', filename='images/logo3.ico')}}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="{{url_for('static', filename='js/otp_timer.js')}}""></script>
    <link rel=" stylesheet" href="{{url_for('static', filename='css/otp.css')}}">
    <title>BOTMINDS | VERIFY</title>
</head>

<body>
    <div class="key_box">
        <div class="box">
            <form action="{{ url_for('verify') }}" method="post" name="key_form">
                <h2>Enter BACKUP KEY<span class="material-symbols-outlined">
                        key
                    </span></h2>
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
                <div class="space">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="email" name="email" value="{{ email }}" readonly id="input_email">
                    <input type="text" class="resend-otp-btn" name="backup_key" id="input_key" placeholder="Enter Backup Key" required>
                    <button type="submit" class="submit-key-btn" id="submit-key-btn">Submit</button>
                    <a href="{{url_for('forgot_password')}}">wrong email?</a>
                    <div class="divider"></div>
                    <a href="{{ url_for('login') }}" id="login_page_link">Remember Password?</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>